/*Styling af bodyen på alle sider*/
body {
    /*Bodyen er altid højden på webbrowserens viewport (billedet på skærmen)*/
    min-height: 100vh;
    background-color: #F6F1C8;
    background-image: url('img/symboler.png');
    background-size: 600px 940px;
    background-position-y: 100px;
}

/*fonts*/
@font-face {
    font-family: myFont;
    src: url(font/Laila-Regular.ttf);
}

@font-face {
    font-family: paragrafFont;
    src: url(font/Niramit-Regular.ttf);
}


/*mobil versionen forsiden*/
.header {
    height: 100px;
    width: auto;
    background-color: #13320F;
    /*så headeren går helt ud til kanten af siden*/
    margin: -10px;
}

.logo {
    background: url('img/logonyt2_Tegnebræt\ 1.png') no-repeat;
    width: 110px;
    height: 110px;
    /*Er positioneret relativt i forhold til dens normale position på siden*/
    position: relative;
    /*Hvor den er placeret i forhold til den normale position*/
    top: 10px;
    left: 25px;
}

/*Billede på forsiden*/
#mig {
    height: 250px;
    width: auto;
    border-radius: 50%;
    position: relative;
    top: 40px;
    /*Når den er block, så starter den på en ny linje og fylder hele siden*/
    display: block;
    /*Browseren bestemmer margin, når den er auto*/
    margin: auto;
}

/*Tekst på forside og footer*/
.paragraf {
    font-family: paragrafFont;
    font-size: 14px;
    /*Gør så teksten fylder lige meget på alle linjer*/
    text-align: justify;
    color: white;
}

/*Bokse på forsiden*/
.portfolioforside {
    height: 195px;
    width: 205px;
    background-color: #13320F;
    border-radius: 30px;
    color: white;
    position: relative;
    top: 60px;
    margin: auto;
}

.ommigforside {
    height: 195px;
    width: 205px;
    background-color: #13320F;
    border-radius: 30px;
    color: white;
    text-align: justify;
    position: relative;
    top: 80px;
    margin: auto;
}

.kontaktforside {
    height: 195px;
    width: 205px;
    background-color: #13320F;
    border-radius: 30px;
    color: white;
    text-align: justify;
    position: relative;
    top: 100px;
    margin: auto;
}

/*Knapper på forsiden*/
.knapforside {
    height: 30px;
    width: 120px;
    background-color: #C09F39;
    position: relative;
    top: 55px;
    left: 45px;
    border-radius: 30px;
    text-align: center;
}

/*Tekst på knapper på forsiden*/
.tekstknap {
    position: relative;
    font-family: myFont;
    color: white;
    /*Gør så der ikke er streg under linket*/
    text-decoration: none;
}

/*Tekst i bokse på forsiden*/
.tekstforside {
    position: relative;
    top: 60px;
    left: 10px;
    line-height: 20px;
}

/*Symboler på forside*/
.gren {
    height: 44px;
    width: 75px;
    /*Har position tættest på den nærmeste positionerede element*/
    position: absolute;
    top: 10px;
    left: 60px;
}

.footer {
    height: 50px;
    width: auto;
    background-color: #13320F;
    margin-top: 150px;
    /*Gør så den går ud til kanten af siden*/
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

/*Tekst i footer*/
.pfooter {
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
    font-family: paragrafFont;
}

/*Knapper i headeren*/
.knapper {
    text-align: center;
}

.forsideknap {
    position: absolute;
    top: 35px;
    right: 240px;
}

.portfolioknap {
    position: absolute;
    top: 35px;
    right: 160px;
}

.ommigknap {
    position: absolute;
    top: 35px;
    right: 90px;
}

.kontaktknap {
    position: absolute;
    top: 35px;
    right: 20px;
}

/*Tekst på knapper i headeren*/
.tekstknapf {
    text-align: center;
    position: relative;
    top: 3px;
    font-family: myFont;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

/*Den knap som siden er på*/
.valgtknap {
    color: #C09F39;
}

/*kun knapperne i headeren har hover*/
.knapper > a:hover {
    color: #C09F39;
}


/*specifikt til om mig siden*/

/*Boksen foran baggrunden*/
.blackbox {
    height: 550px;
    width: 400px;
    /*sætter farven til sort og kun opacity på boksen*/
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 45px;
    margin: auto;
    border-radius: 30px;
    /*Bliver placeret bag teksten og billederne*/
    z-index: -1;
}

/*Overskriften på de tre undersider*/
h1 {
    text-align: center;
    color: white;
    padding: 5px;
    font-family: myFont;    
}

/*Tekst på om mig siden*/
.paragrafom {
    font-family: paragrafFont;
    font-size: 15px;
    text-align: justify;
    color: white;
    margin: 20px 30px;
    line-height: 25px;
}

/*Billede på om mig siden*/
.ommigbillede {
    border-radius: 50%;
    height: 250px;
    display: block;
    margin: auto;
}

/*Footer på om mig siden*/
.footerommig {
    height: 50px;
    width: auto;
    background-color: #13320F;
    margin-top: 100px;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
}


/*kontakt siden*/

/*Billede på kontakt siden*/
.kontaktbillede {
    border-radius: 50%;
    height: 250px;
    display: block;
    margin: auto;
}

/*Teksten på kontakt siden*/
.paragrafkontakt{
    font-family: paragrafFont;
    font-size: 15px;
    text-align: justify;
    color: white;
    margin: 20px 30px;
    line-height: 25px;
}

/*Portfolio siden*/

/*Billeder, animation og video på portfolio siden*/
.billede1 {
    width: 244px;
    border-radius: 30px;
    margin: auto;
    display: block;
    background-color: white;
    margin-top: 10px;
}

.billede2 {
    border-radius: 30px;
    margin: auto;
    display: block;
    width: 244px;
    margin-top: 70px;
}

.billede3 {
        border-radius: 30px;
        width: 244px;
        margin: auto;
        display: block;
        margin-top: 70px;
}

/*Animationen i CSS*/
.billede5 {
    width: 333px;
    height: 333px;
    /*Skal starte i punkt 0 0 og ikke gentages*/
    background: url('img/delfin.png') 0 0 no-repeat;
    /*skal vare i 3 sekunder, er i 6 billeder og skal fortsætte med at køre*/
    animation: delfin 3s steps(6) infinite;
    margin: auto;
    border-radius: 60px;
    margin-top: 70px;
}

@keyframes delfin {
    0% {background-position:0px;}
    100% {background-position: -1998px;}
}

.video {
    margin: auto;
    display: block;
    width: 244px;
    height: auto;
    border-radius: 30px;
    margin-top: 70px;
    position: relative;
}

/*Boksen foran baggrunden*/
.blackbox2 {
    height: 2100px;
    width: 400px;
    /*sætter farven til sort og kun opacity på boksen*/
    background: rgba(0, 0, 0, 0.3);
    margin: auto;
    border-radius: 30px;
    z-index: -1;
    position: relative;
    top: 45px;
}

/*Teksten under billederne på portfolio siden*/
.billedetekst {
    position: absolute;
    color: white;
    font-family: paragrafFont;
    line-height: 18px;
}

/*Hvor teksten skal placeres under hvert billede*/
.p1 {
   left: 95px;  
   top: 417px;
}

.p2 {
    left: 95px;
    top: 852px;
}

.p3 {
    left: 95px;
    top: 1320px;
}

.p4 {
    left: 95px;
    top: 1575px;
}

.p5 {
    left: 60px;
    top: 1980px;
}


/*Ipad versionen!
De værdier som er i mobilversionen gemmes, derfor skal kun de værdier, som skal ændres, skrives ind*/
@media only screen and (min-width: 768px) {

    /*iPad versionen forsiden*/
    body {
        min-height: 100vh;
        background-color: #F6F1C8;
        background-image: url('img/symboler.png');
        background-size: 600px 940px;
        background-position-y: 190px;
    }
    
    #mig {
        height: 245px;
        top: 40px;
    }

    /*Bokse på forsiden*/
    .portfolioforside {
        height: 245px;
        width: 257px;
        top: 60px;
        margin-left: 120px;
        margin: auto;
    }
    
    .ommigforside {
        height: 245px;
        width: 257px;
        top: 80px;
        margin: auto;
    }
    
    .kontaktforside {
        height: 245px;
        width: 257px;
        top: 100px;
        margin: auto;
    }

    .gren {
        height: 51px;
        width: 87px;
        position: absolute;
        top: 10px;
        left: 80px;
    }

    /*Tekst på forsiden*/
    .paragraf {
        font-size: 17px;
    }

    /*Knapperne på forsiden*/
    .knapforside {
        height: 38px;
        width: 160px;
        top: 85px;
        left: 50px;
        border-radius: 30px;
    }

    /*Tekst på forsiden*/
    .tekstforside {
        top: 75px;
        left: 15px;
    }


    .pfooter {
        text-align: left;
    }

    /*Knapper i headeren*/
    .forsideknap {
        right: 420px;
    }

    .portfolioknap {
        right: 310px;
    }

    .ommigknap {
        right: 200px;
    }

    .kontaktknap {
        right: 90px;
    }

    .tekstknapf {
        top: 5px;
        font-size: 16px;
    }


    /*Om mig siden*/
    .blackbox {
        height: 720px;
        width: 700px;
        top: 45px;
    }
    
    h1 {
        padding: 5px;
        font-size: 40px;
        padding-top: 20px;
    }
    
    .paragrafom {
        font-size: 25px;
        line-height: 35px;
    }
    
    .ommigbillede {
        height: 350px;
    }
    

    /*Kontakt siden*/
    .kontaktbillede {
        height: 350px;
    }

    .paragrafkontakt {
        font-size: 25px;
        line-height: 35px;
    }


    /*Portfolio siden*/
    .billede1 {
        width: 300px;
        margin-top: 20px;
    }
    .billede2 {
        
        width: 300px;
        margin-top: 80px;
    }
    .billede3 {
        width: 300px;
    }
    
    .billede5 {
        border-radius: 60px;
        margin-top: 80px;
    }

    .video {
        border-radius: 30px;
        margin-top: 80px;
        width: 300px;
        height: auto;
    }
    
    .blackbox2 {
        height: 2480px;
        width: 400px;
        top: 45px;
    }
    
    /*Tekst under billeder*/
    .billedetekst {
        font-size: 18px;
    }
    
    .p1 {
       left: 90px;  
       top: 525px;
    }
    
    .p2 {
        left: 90px;
        top: 1055px;
    }
    
    .p3 {
        left: 90px;
        top: 1625px;
    }
    
    .p4 {
        left: 90px;
        top: 1930px;
    }
    
    .p5 {
        left: 65px;
        top: 2345px;
    }
}


/*Computer versionen!*/
@media only screen and (min-width: 1024px) {

    /*Computer versionen forsiden*/
    body {
        background-size: 600px 940px;
        background-position-y: 100px;
    }

    /*Bokse på forsiden*/
    .portfolioforside {
        height: 240px;
        width: 252px;
        background-color: #13320F;
        border-radius: 30px;
        color: white;
        top: 80px;
        margin-left: 120px;
    }
    
    .ommigforside {
        height: 240px;
        width: 252px;
        background-color: #13320F;
        border-radius: 30px;
        color: white;
        text-align: justify;
        top: 80px;
        margin-left: 120px;
    }
    
    .kontaktforside {
        height: 240px;
        width: 252px;
        background-color: #13320F;
        border-radius: 30px;
        color: white;
        text-align: justify;
        top: 80px;
        margin-left: 120px;
    }

    .gren {
        height: 50px;
        width: 85px;
        position: absolute;
        top: 10px;
        left: 80px;
    }

    #mig {
        height: 240px;
        top: 45px;
    }

    /*Tekst på forsiden*/
    .paragraf {
        font-size: 16px;
    }

    /*Knapperne på forsiden*/
    .knapforside {
        height: 30px;
        width: 120px;
        top: 75px;
        left: 66px;
        border-radius: 30px;
    }

    .tekstforside {
        top: 70px;
        left: 25px;
    }

    /*boksene på forsiden skal være ved siden af hinanden -> 
    hvor block starter ny linje, gør in-line ikke, så de kan være ved siden af hinanden*/
    main > div {
        display: inline-block;
    }

    .pfooter {
        text-align: left;
    }

    .forsideknap {
        right: 387px;
    }

    .portfolioknap {
        right: 277px;
    }

    .ommigknap {
        right: 167px;
    }

    .kontaktknap {
        right: 57px;
    }

    .tekstknapf {
        top: 5px;
        font-size: 16px;
    }


    /*Om mig siden*/
    .blackbox {
        height: 600px;
        width: 1150px;
        top: 45px;
        left: 50px;
    }
    
    h1 {
        font-size: 40px;
        margin-top: 0px;
    }
    
    .paragrafom {
        font-size: 22px;
        line-height: 35px;
        margin-left: 50px;
        margin-top: -340px;
        width: 333px;
    }
    
    .ommigbillede {
        height: 333px;
        margin-right: 50px;
        margin-top: 70px;
    }


    /*Kontakt siden*/
    .kontaktbillede {
        height: 333px;
        margin-left: 50px;
        margin-top: 70px;
    }

    .paragrafkontakt {
        font-size: 22px;
        line-height: 35px;
        margin-left: 766px;
        margin-top: -340px;
        width: 333px; 
    }
    
    /*Portfolio siden*/
    
    /*Billeder på portfolio siden*/
    .billede1 {
        height: 333px;
        width: auto;
        margin-left: 50px;
        margin-top: -20px;
    }
    .billede2 {
        height: 333px;
        width: auto;
        top: -413px;
        position: relative;
    }
    .billede3 {
        position: absolute;
        border-radius: 30px;
        height: 333px;
        width: auto;
        top: 24px;
        right: 50px;
    }
    
    .billede5 {
        top: -388px;
        left: -358px;
        position: relative;
    }
    
    .video {
        position: absolute;
        height: 333px;
        width: auto;
        top: 453px;
        right: 50px;
    }
    
    
    .blackbox2 {
        height: 970px;
        width: 1150px;
        position: relative;
        top: 45px;
        left: 50px;
    }

    /*Tekst under billederne*/
    .billedetekst {
        font-size: 16px;
    }
    
    .p1 {
       left: 65px;  
       top: 415px;
    }
    
    .p2 {
        left: 475px;
        top: 415px;
    }
    
    .p3 {
        left: 890px;
        top: 415px;
    }
    
    .p4 {
        left: 800px;
        top: 855px;
    }
    
    .p5 {
        left: 30px;
        top: 320px;
    }
}