body {
    min-height: 100vh;
    background-color: #F6F1C8;
    background-image: url('img/symboler.png');
    background-size: 600px 940px;
    background-position-y: 190px;
}

.header {
    height: 100px;
    width: auto;
    background-color: #13320F;
    margin: -10px;
}

.logo {
    background: url('img/logo.png') no-repeat;
    width: 162px;
    height: 159px;
    scale: 55%;
    position: relative;
    top: -30px;
    left: 0px;
}

#mig {
    height: 250px;
    width: auto;
    border-radius: 50%;
    position: relative;
    top: 40px;
    display: block;
    margin: auto;
}

.paragraf {
    font-family: sans-serif;
    font-size: 14px;
    text-align: justify;
    color: white;
}

.portfolioforside {
    height: 195px;
    width: 205px;
    background-color: #13320F;
    border-radius: 30px;
    color: white;
    position: relative;
    top: 60px;
    margin: auto;
}

.ommigforside {
    height: 195px;
    width: 205px;
    background-color: #13320F;
    border-radius: 30px;
    color: white;
    text-align: justify;
    position: relative;
    top: 80px;
    margin: auto;
}

.kontaktforside {
    height: 195px;
    width: 205px;
    background-color: #13320F;
    border-radius: 30px;
    color: white;
    text-align: justify;
    position: relative;
    top: 100px;
    margin: auto;
}

.knapforside {
    height: 30px;
    width: 120px;
    background-color: #C5A643;
    position: relative;
    top: 65px;
    left: 45px;
    border-radius: 30px;
    font-family: sans-serif;
    text-align: center;
}

.tekstknap {
    position: relative;
    top: 7px;
}


.tekstforside {
    position: relative;
    top: 70px;
    left: 10px;
}


.gren {
    height: 44px;
    width: 75px;
    position: absolute;
    top: 10px;
    left: 60px;
}

.footer {
    height: 50px;
    width: auto;
    background-color: #13320F;
    margin-top: 150px;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

.pfooter {
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
}

.knapper {
    height: 25px;
    width: 70px;
    background-color: #C5A643;
    border-radius: 30px;
    text-align: center;
}

.forsideknap {
    position: absolute;
    top: 35px;
    right: 240px;
}

.portfolioknap {
    position: absolute;
    top: 35px;
    right: 165px;
}

.ommigknap {
    position: absolute;
    top: 35px;
    right: 90px;
}

.kontaktknap {
    position: absolute;
    top: 35px;
    right: 15px;
}

.tekstknapf {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 3px;
    font-family: sans-serif;
    font-size: 13px;
}

.valgtknap {
    background-color: #F6F1C8;
}


@media only screen and (min-width: 768px) {
    body {
        min-height: 100vh;
        background-color: #F6F1C8;
        background-image: url('img/symboler.png');
        background-size: 600px 940px;
        background-position-y: 190px;
    }
    
    #mig {
        height: 245px;
        top: 40px;
    }


    .portfolioforside {
        height: 245px;
        width: 257px;
        top: 60px;
        margin-left: 120px;
        margin: auto;
    }
    
    .ommigforside {
        height: 245px;
        width: 257px;
        top: 80px;
        margin: auto;
    }
    
    .kontaktforside {
        height: 245px;
        width: 257px;
        top: 100px;
        margin: auto;
    }

    .gren {
        height: 51px;
        width: 87px;
        position: absolute;
        top: 10px;
        left: 80px;
    }

    .paragraf {
        font-size: 17px;
    }

    .knapforside {
        height: 38px;
        width: 160px;
        top: 85px;
        left: 50px;
        border-radius: 30px;
    }

    .tekstforside {
        top: 75px;
        left: 15px;
    }


    .pfooter {
        text-align: left;
    }

    
    .knapper {
        height: 30px;
        width: 120px;
    }

    .forsideknap {
        right: 450px;
    }

    .portfolioknap {
        right: 310px;
    }

    .ommigknap {
        right: 170px;
    }

    .kontaktknap {
        right: 30px;
    }

    .tekstknapf {
        top: 5px;
        font-size: 16px;
    }


}

@media only screen and (min-width: 1024px) {

    body {
        min-height: 100vh;
        background-color: #F6F1C8;
        background-image: url('img/symboler.png');
        background-size: 600px 940px;
        background-position-y: 85px;
    }


    .portfolioforside {
        height: 240px;
        width: 252px;
        background-color: #13320F;
        border-radius: 30px;
        color: white;
        top: 80px;
        margin-left: 120px;
    }
    
    .ommigforside {
        height: 240px;
        width: 252px;
        background-color: #13320F;
        border-radius: 30px;
        color: white;
        text-align: justify;
        top: 80px;
        margin-left: 120px;
    }
    
    .kontaktforside {
        height: 240px;
        width: 252px;
        background-color: #13320F;
        border-radius: 30px;
        color: white;
        text-align: justify;
        top: 80px;
        margin-left: 120px;
    }

    .gren {
        height: 50px;
        width: 85px;
        position: absolute;
        top: 10px;
        left: 80px;
    }

    #mig {
        height: 240px;
        top: 45px;
    }

    .paragraf {
        font-size: 16px;
    }

    .knapforside {
        height: 30px;
        width: 120px;
        top: 75px;
        left: 66px;
        border-radius: 30px;
    }

    .tekstforside {
        top: 70px;
        left: 25px;
    }

    .flexcontainer > div {
        display: inline-block;
    }

    .pfooter {
        text-align: left;
    }

    
    .knapper {
        height: 30px;
        width: 120px;
    }

    .forsideknap {
        right: 450px;
    }

    .portfolioknap {
        right: 310px;
    }

    .ommigknap {
        right: 170px;
    }

    .kontaktknap {
        right: 30px;
    }

    .tekstknapf {
        top: 5px;
        font-size: 16px;
    }

    
}